<app-navbar />
<div class="center-container">
  <div class="border p-4">
    <h1>Counter App</h1>
    <div class="row mt-3">
      <div class="col" style="text-align: center;">
        <h2>{{ count$ | async }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="increment()">Add</button>
      </div>
      <div class="col">
        <button class="btn btn-warning" (click)="decrement()">Subtract</button>
      </div>
      <div class="col">
        <button class="btn btn-danger" (click)="reset()">Reset</button>
      </div>
    </div>
  </div>
</div>